@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap');
/* root */
:root {
	--black: hsl(0, 0%, 0%);
	--white: hsl(0, 0%, 100%);

	--primary: hsl(210, 100%, 50%);
	--secondary: hsl(0, 0%, 100%);
	--accent: hsl(0, 100%, 50%);



}

/* reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	list-style: none;
}

body {
	color: var(--black);
	background-color: var(--white);
	font-family: 'Noto Serif JP', serif;
}